@model INT422TestTwo.ViewModels.DirectorFull

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DirectorFull</h4>
	<hr />
    <dl class="dl-horizontal">
    @if (Model == null)
    {
       <dd><i>Sorry no records found</i></dd>
       <p>
          @Html.ActionLink("Back to List", "Index")
       </p>    
    }
    else
    {
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movies)
        </dt>
            foreach (var item in Model.Movies)
            {
              <dd>@item.Title <br /></dd>
            }
          <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
          </p>    
    }
  </dl>
</div>

